<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <div class="container" id="fullform">
      <h2 id="registration"><b>Registration Form</b></h2>

      <form #registration="ngForm">
        <div >
          <div class="form-inline">
            <span>
              <div class="input-group mb-3">
                <div class="input-group-prepend">

                  <span class="input-group-text" id="besideinput"><i class="fas fa-user"></i></span>
                </div>
                <input class="form-control block" type="text" placeholder="First Name" name="firstname"
                  #firstname="ngModel" [ngModel] required>
              </div>
            </span>
          </div>
          <div class="form-inline">
            <span>
              <div class="input-group mb-3">
                <div class="input-group-prepend">

                  <span class="input-group-text" id="besideinput"><i class="fas fa-user"></i></span>
                </div>
                <input class="form-control" type="text" placeholder="Last Name" name="lastname" #lastname="ngModel"
                  [ngModel] required>
              </div>
            </span>
          </div>


          <div class="form-inline">
            <span>
              <div class="input-group mb-3">
                <div class="input-group-prepend">

                  <span class="input-group-text" id="besideinput"><i class="fas fa-th-list"></i></span>
                </div>
                <input class="form-control" type="text" placeholder="Department/Office" name="office"
                  #office="ngModel" [ngModel]>
              </div>
            </span>
          </div>
          <div class="form-inline">
            <span>
              <div class="input-group mb-3">
                <div class="input-group-prepend">

                  <span class="input-group-text" id="besideinput"><i class="fas fa-user"></i></span>
                </div>

                  <input class="form-control" type="text" placeholder="Username" name="username" #username="ngModel"
                    [ngModel] required minlength="5" pattern="[A-Z]{1,}">

                <div *ngIf="username.errors && username.touched" id="phonemust">
                  <span *ngIf="username.errors.required"><b>username required</b></span>
                  <span *ngIf="username.errors.minlength"><b>minimum 5 digits</b></span>
                  <div>
                    <span *ngIf="username.errors.pattern"><b>pattern should be capital from A to Z</b></span>
                  </div>
                </div>
              </div>
            </span>
          </div>
          <div class="form-inline">
            <span>
              <div class="input-group mb-3">
                <div class="input-group-prepend">

                  <span class="input-group-text" id="besideinput"><i class="fas fa-key"></i></span>
                </div>
                <input class="form-control" type="password" placeholder="Password" name="password" #password="ngModel"
                  [ngModel] required>
              </div>
            </span>
          </div>
          <div class="form-inline">
            <span>
              <div class="input-group mb-3">
                <div class="input-group-prepend">

                  <span class="input-group-text" id="besideinput"><i class="fas fa-key"></i></span>
                </div>
                <input class="form-control" type="password" placeholder="Confirm Password" name="confirmpassword"
                  #confirmpassword="ngModel" [ngModel] required>
              </div>
            </span>
          </div>
          <div class="form-inline">
            <span>
              <div class="input-group mb-3">
                <div class="input-group-prepend">

                  <span class="input-group-text" id="besideinput"><i class="fas fa-envelope-open-text"></i></span>
                </div>
                <input class="form-control" type="text" placeholder="E-mail" name="email" #email="ngModel" [ngModel]
                  required>
              </div>
            </span>
          </div>
          <div class="form-inline">
            <span>
              <div class="input-group mb-3">
                <div class="input-group-prepend">

                  <span class="input-group-text" id="besideinput"><i class="fas fa-phone-alt"></i></span>
                </div>
                <input class="form-control input-lg" type="text" placeholder="Phone" name="phone" #phone="ngModel"
                  [ngModel] required minlength=10>
                <div *ngIf="phone.errors && phone.touched" id="phonemust">
                  <span *ngIf="phone.errors.required"><b>Phone number is must</b></span>
                  <span *ngIf="phone.errors.minlength"><b>Phone number must be 10 digits</b></span>

                </div>
              </div>
            </span>
          </div>
        </div>
        <div >
          <button class="btn btn-warning" id="submit" style="font-size:5;" [disabled]="!registration.valid"><b
              id="plane" style="text-shadow: 1px 1px black;">Submit</b> <i class="fas fa-paper-plane"
              id="plane"></i></button>
          <button class="btn btn-primary" id="reset" (click)="registration.resetForm()"> <i class="fas fa-redo"
              id="resetlogo"></i></button>
        </div>
      </form>

    </div>

  </div>
  <div class="col-md-3">


  </div>
</div>
