#fullform{
  width:100%;
  height:640px;
  background-color:lightblue;
  border:2px solid darkcyan;
  margin:5px 0px 5px 0px;
}

#besideinput{
  border-radius:5px 0px 0px 5px;
}
#plane{
  color:white;
}
#submit{
  padding:5px 30px 5px 30px;
  margin-right:10px;
}
#registration{
  font-size:30;
  margin:2% 0px 3% 0px;
  margin-left:20%;
}
#reset{
  padding:4px 8px ;
}
input.ng-invalid.ng-touched{
  border:2px solid red;
}
input.ng-valid.ng-touched{
  border:2px solid green;
}
#phonemust{
  margin:8px 0px 0px 5px;
  color:red;
}


#one i { 
  
} 



#two{ 
  padding: 10px; 
  color: green; 
  
  
} 



